
.friend-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .friend-item img {
    margin-right: 10px;
  }
  
  .status {
    font-weight: bold;
    margin-left: 10px;
  }
  
  .status-online {
    color: green;
  }
  
  .status-offline {
    color: red;
  }
  