.friendListContainer {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 10px;
}

.friendItem {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 120px; 
  flex-shrink: 0; 
}

.avatar {
  margin-bottom: 10px;
  
}

.status {
  font-weight: bold;
  margin-top: 5px;
}

.statusOnline {
  color: green;
}

.statusOffline {
  color: red;
}